#a12021


.cls-1{fill:#181818;}
.cls-2{fill:#1f3c47;}
.cls-3{fill:#fff;}
.cls-4{fill:#a12021;}
.cls-5{fill:#92191c;}
.cls-6{fill:#7b1214;}
.cls-7{fill:#89181b;}
.cls-8{fill:#902923;}
.cls-9{fill:#c62a2e;}
.cls-10{fill:none;stroke:#181818;stroke-miterlimit:10;stroke-width:10px;}
.cls-11{fill:  #f8f8f8;}
.cls-12{fill:#778795;}
.cls-13{fill:#141414;}
.cls-14{fill:#f0f0f0;}